body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-converter {
  margin-top: 10px;
}

.form-converter input,
.form-converter select,
.form-converter button {
  padding: 10px 5px;
  border: 1px solid #111;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
}

.form-converter input {
  width: 64px;
}

.form-converter select {
  min-width: 120px;
}

.form-converter button {
  min-width: 120px;
  background-color: #111;
  color: #fff;
}

.form-converter button:disabled {
  opacity: 0.7;
}

p#result {
  color: green;
}
